In [1]:
import pandas as pd

In [2]:
import datetime as dt

In [3]:
dob=dt.date(1995,7,13)

In [4]:
dob

datetime.date(1995, 7, 13)

In [5]:
dob.year

1995

In [6]:
dob.day

13

In [7]:
dob.month

7

In [12]:
dom=dt.datetime(1995,7,13,5,15,12)

In [13]:
dom

datetime.datetime(1995, 7, 13, 5, 15, 12)

In [10]:
dom.hour

5

In [11]:
dom.minute

15

In [14]:
dom.second

12

In [15]:
str(dob)

'1995-07-13'

In [16]:
str(dom)

'1995-07-13 05:15:12'

## timestamp

In [28]:
pd.Timestamp("1995-07-13")
pd.Timestamp("1995, 07, 13")
pd.Timestamp("1995/07/13")
pd.Timestamp("13/7/1995")
pd.Timestamp("7/13/1995")
pd.Timestamp("1995-07-13 10:45:56")
pd.Timestamp("1995-07-13 10:45:56 PM")
pd.Timestamp("1995-07-13 10:45:56 AM")

Timestamp('1995-07-13 10:45:56')

In [29]:
pd.Timestamp(dt.datetime(1995,7,13,5,15,12))     #timestamp is for single value

Timestamp('1995-07-13 05:15:12')

## datetimeindex

In [30]:
lis1=["13/07/1995","12/8/1992","10/5/2019"]

In [32]:
pd.DatetimeIndex(lis1)        #datetimeindex is for a list

DatetimeIndex(['1995-07-13', '1992-12-08', '2019-10-05'], dtype='datetime64[ns]', freq=None)

In [33]:
lis2=[dt.date(1995,7,13),dt.date(1992,7,18)]

In [34]:
pd.DatetimeIndex(lis2)

DatetimeIndex(['1995-07-13', '1992-07-18'], dtype='datetime64[ns]', freq=None)

In [35]:
s1=[100,200,300]
pd.Series(s1,index=lis1)

13/07/1995    100
12/8/1992     200
10/5/2019     300
dtype: int64

## to_datetime

In [38]:
pd.to_datetime("13/7/95")

Timestamp('1995-07-13 00:00:00')

In [42]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [44]:
pd.to_datetime(dt.datetime(2015,1,1,13,52,12))

Timestamp('2015-01-01 13:52:12')

In [45]:
pd.to_datetime(["13/7/1995","12-4-2005","13th July 2019"])

DatetimeIndex(['1995-07-13', '2005-12-04', '2019-07-13'], dtype='datetime64[ns]', freq=None)

In [47]:
s2=pd.Series(["13/7/1995","12-4-2005","13th July 2019"])
s2

0         13/7/1995
1         12-4-2005
2    13th July 2019
dtype: object

In [48]:
pd.to_datetime(s2)

0   1995-07-13
1   2005-12-04
2   2019-07-13
dtype: datetime64[ns]

In [63]:
pd.to_datetime([122232,254855258,445688888],unit='s')      #unix time

DatetimeIndex(['1970-01-02 09:57:12', '1978-01-28 17:07:38',
               '1984-02-15 10:28:08'],
              dtype='datetime64[ns]', freq=None)

In [65]:
lis1=["13/07/1995","12/8/1992","Hello","15/21/2000","10/5/2019"]
pd.to_datetime(lis1,errors="coerce")

DatetimeIndex(['1995-07-13', '1992-12-08', 'NaT', 'NaT', '2019-10-05'], dtype='datetime64[ns]', freq=None)

In [3]:
l3=["1995-07-13 10:45:56 AM","1995-07-18 10:45:56 PM","1995-07-13 1:45:56 AM"]
pd.DatetimeIndex(l3)

DatetimeIndex(['1995-07-13 10:45:56', '1995-07-18 22:45:56',
               '1995-07-13 01:45:56'],
              dtype='datetime64[ns]', freq=None)

## date_range()

In [5]:
t=pd.date_range(start="1995-07-13",end="1995-07-23",freq="D")   #d->days
t

DatetimeIndex(['1995-07-13', '1995-07-14', '1995-07-15', '1995-07-16',
               '1995-07-17', '1995-07-18', '1995-07-19', '1995-07-20',
               '1995-07-21', '1995-07-22', '1995-07-23'],
              dtype='datetime64[ns]', freq='D')

In [6]:
type(t)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
type(t[1])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
pd.date_range(start="1995-07-13",end="1995-07-23",freq="B")   #b->buisness days

DatetimeIndex(['1995-07-13', '1995-07-14', '1995-07-17', '1995-07-18',
               '1995-07-19', '1995-07-20', '1995-07-21'],
              dtype='datetime64[ns]', freq='B')

In [10]:
pd.date_range(start="1995-07-13",end="1995-07-23",freq="W")   #W->one day in week(sun)

DatetimeIndex(['1995-07-16', '1995-07-23'], dtype='datetime64[ns]', freq='W-SUN')

In [11]:
pd.date_range(start="1995-07-13",end="1995-07-23",freq="W-FRI")   #W->one day in week(fri)

DatetimeIndex(['1995-07-14', '1995-07-21'], dtype='datetime64[ns]', freq='W-FRI')

In [12]:
pd.date_range(start="1995-07-13",end="1995-07-23",freq="H")   #H->hour

DatetimeIndex(['1995-07-13 00:00:00', '1995-07-13 01:00:00',
               '1995-07-13 02:00:00', '1995-07-13 03:00:00',
               '1995-07-13 04:00:00', '1995-07-13 05:00:00',
               '1995-07-13 06:00:00', '1995-07-13 07:00:00',
               '1995-07-13 08:00:00', '1995-07-13 09:00:00',
               ...
               '1995-07-22 15:00:00', '1995-07-22 16:00:00',
               '1995-07-22 17:00:00', '1995-07-22 18:00:00',
               '1995-07-22 19:00:00', '1995-07-22 20:00:00',
               '1995-07-22 21:00:00', '1995-07-22 22:00:00',
               '1995-07-22 23:00:00', '1995-07-23 00:00:00'],
              dtype='datetime64[ns]', length=241, freq='H')

In [13]:
pd.date_range(start="1995-07-13",end="1995-07-23",freq="6H")   #H->hour

DatetimeIndex(['1995-07-13 00:00:00', '1995-07-13 06:00:00',
               '1995-07-13 12:00:00', '1995-07-13 18:00:00',
               '1995-07-14 00:00:00', '1995-07-14 06:00:00',
               '1995-07-14 12:00:00', '1995-07-14 18:00:00',
               '1995-07-15 00:00:00', '1995-07-15 06:00:00',
               '1995-07-15 12:00:00', '1995-07-15 18:00:00',
               '1995-07-16 00:00:00', '1995-07-16 06:00:00',
               '1995-07-16 12:00:00', '1995-07-16 18:00:00',
               '1995-07-17 00:00:00', '1995-07-17 06:00:00',
               '1995-07-17 12:00:00', '1995-07-17 18:00:00',
               '1995-07-18 00:00:00', '1995-07-18 06:00:00',
               '1995-07-18 12:00:00', '1995-07-18 18:00:00',
               '1995-07-19 00:00:00', '1995-07-19 06:00:00',
               '1995-07-19 12:00:00', '1995-07-19 18:00:00',
               '1995-07-20 00:00:00', '1995-07-20 06:00:00',
               '1995-07-20 12:00:00', '1995-07-20 18:00:00',
               '1995-07-21 00:00:00', '1995-07-21 06:00:00',
               '1995-07-21 12:00:00', '1995-07-21 18:00:00',
               '1995-07-22 00:00:00', '1995-07-22 06:00:00',
               '1995-07-22 12:00:00', '1995-07-22 18:00:00',
               '1995-07-23 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [14]:
pd.date_range(start="1995-07-13",end="1996-07-23",freq="2M")   #m->month

DatetimeIndex(['1995-07-31', '1995-09-30', '1995-11-30', '1996-01-31',
               '1996-03-31', '1996-05-31'],
              dtype='datetime64[ns]', freq='2M')

In [16]:
pd.date_range(start="1995-07-13",end="1996-07-23",freq="3MS")   #ms->month start

DatetimeIndex(['1995-08-01', '1995-11-01', '1996-02-01', '1996-05-01'], dtype='datetime64[ns]', freq='3MS')

In [18]:
pd.date_range(start="1990-07-13",end="1999-07-23",freq="4A")   #A-> annual(year) last

DatetimeIndex(['1990-12-31', '1994-12-31', '1998-12-31'], dtype='datetime64[ns]', freq='4A-DEC')

In [19]:
pd.date_range(start="12-5-2018",periods=50,freq="D")    #generate 50 days

DatetimeIndex(['2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08',
               '2018-12-09', '2018-12-10', '2018-12-11', '2018-12-12',
               '2018-12-13', '2018-12-14', '2018-12-15', '2018-12-16',
               '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
               '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24',
               '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
               '2018-12-29', '2018-12-30', '2018-12-31', '2019-01-01',
               '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09',
               '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13',
               '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17',
               '2019-01-18', '2019-01-19', '2019-01-20', '2019-01-21',
               '2019-01-22', '2019-01-23'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range(start="12-5-2018",periods=10,freq="B")     #10 buisness days

DatetimeIndex(['2018-12-05', '2018-12-06', '2018-12-07', '2018-12-10',
               '2018-12-11', '2018-12-12', '2018-12-13', '2018-12-14',
               '2018-12-17', '2018-12-18'],
              dtype='datetime64[ns]', freq='B')

In [22]:
pd.date_range(start="1995-07-13",periods=20,freq="3MS")

DatetimeIndex(['1995-08-01', '1995-11-01', '1996-02-01', '1996-05-01',
               '1996-08-01', '1996-11-01', '1997-02-01', '1997-05-01',
               '1997-08-01', '1997-11-01', '1998-02-01', '1998-05-01',
               '1998-08-01', '1998-11-01', '1999-02-01', '1999-05-01',
               '1999-08-01', '1999-11-01', '2000-02-01', '2000-05-01'],
              dtype='datetime64[ns]', freq='3MS')

In [23]:
pd.date_range(end="12-5-2018",periods=50,freq="D")

DatetimeIndex(['2018-10-17', '2018-10-18', '2018-10-19', '2018-10-20',
               '2018-10-21', '2018-10-22', '2018-10-23', '2018-10-24',
               '2018-10-25', '2018-10-26', '2018-10-27', '2018-10-28',
               '2018-10-29', '2018-10-30', '2018-10-31', '2018-11-01',
               '2018-11-02', '2018-11-03', '2018-11-04', '2018-11-05',
               '2018-11-06', '2018-11-07', '2018-11-08', '2018-11-09',
               '2018-11-10', '2018-11-11', '2018-11-12', '2018-11-13',
               '2018-11-14', '2018-11-15', '2018-11-16', '2018-11-17',
               '2018-11-18', '2018-11-19', '2018-11-20', '2018-11-21',
               '2018-11-22', '2018-11-23', '2018-11-24', '2018-11-25',
               '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29',
               '2018-11-30', '2018-12-01', '2018-12-02', '2018-12-03',
               '2018-12-04', '2018-12-05'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range(end="1995-07-23",freq="W-FRI",periods=20)    #20 fridays before 13/7/1995

DatetimeIndex(['1995-03-10', '1995-03-17', '1995-03-24', '1995-03-31',
               '1995-04-07', '1995-04-14', '1995-04-21', '1995-04-28',
               '1995-05-05', '1995-05-12', '1995-05-19', '1995-05-26',
               '1995-06-02', '1995-06-09', '1995-06-16', '1995-06-23',
               '1995-06-30', '1995-07-07', '1995-07-14', '1995-07-21'],
              dtype='datetime64[ns]', freq='W-FRI')


## .dt accessor
generally accessor is needed where we do operation on series or df

In [25]:
ty=pd.date_range(start="1995-07-13",end="1995-07-23",freq="D")
ty

DatetimeIndex(['1995-07-13', '1995-07-14', '1995-07-15', '1995-07-16',
               '1995-07-17', '1995-07-18', '1995-07-19', '1995-07-20',
               '1995-07-21', '1995-07-22', '1995-07-23'],
              dtype='datetime64[ns]', freq='D')

In [29]:
ty.is_month_end

array([False, False, False, False, False, False, False, False, False,
       False, False])

In [30]:
s=pd.Series(ty)
s

0    1995-07-13
1    1995-07-14
2    1995-07-15
3    1995-07-16
4    1995-07-17
5    1995-07-18
6    1995-07-19
7    1995-07-20
8    1995-07-21
9    1995-07-22
10   1995-07-23
dtype: datetime64[ns]

In [38]:
abc=s.dt.is_month_start
abc

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [39]:
s[abc]

Series([], dtype: datetime64[ns])

In [34]:
s.dt.day

0     13
1     14
2     15
3     16
4     17
5     18
6     19
7     20
8     21
9     22
10    23
dtype: int64

In [43]:
s.dt.weekday_name

0      Thursday
1        Friday
2      Saturday
3        Sunday
4        Monday
5       Tuesday
6     Wednesday
7      Thursday
8        Friday
9      Saturday
10       Sunday
dtype: object

In [45]:
de=s.dt.time
de
s[de]

00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
00:00:00   NaT
dtype: datetime64[ns]

## pandas_datareader
Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame.

In [5]:
from pandas_datareader import data

In [4]:
comp="MSFT"   #it is the stock symbol of microsoft company
start="2010-01-01"
end="2016-05-13"
data.DataReader(name=comp,data_source="google",start=start,end=end)  #for other sources see the official doc

ImmediateDeprecationError:
Google finance has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [6]:
pd.date_range(start=start,end=end,freq=pd.DateOffset(years=1))

DatetimeIndex(['2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
               '2014-01-01', '2015-01-01', '2016-01-01'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

## truncate

In [4]:
df.truncate(before="2011-02-25",after="2018-05-02")

NameError: name 'df' is not defined

## pd.DataOffset()

In [6]:
stock=data.DataReader(name="GOOG",data_source="google",start=dt.date(2010, 1, 2),end=dt.datetime.now())

ImmediateDeprecationError:
Google finance has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [9]:
stock.index=stock.index+pd.DateOffset(days=5)  ##date increment function used for daterange
stock.index=stock.index+pd.DateOffset(year=2,months=3,hours=7,days=23,minutes=43)

NameError: name 'stock' is not defined

In [ ]:
stock.index=stock.index+pd.tseries.offsets.MonthBegin()

In [11]:
from pandas .tseries.offsets import *

In [ ]:
stock.index-BMonthEnd()
stock.index+MonthEnd()
stock.index-QuarterBegin()

In [20]:
t1=pd.Timestamp("2016-05-20 4:02PM")
t2=pd.Timestamp("2017-05-16 8:20AM")

In [21]:
t1-t2

Timedelta('-361 days +07:42:00')

In [22]:
type(t1)

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
type(t1-t2)

pandas._libs.tslibs.timedeltas.Timedelta

In [24]:
type(t2-t1)

pandas._libs.tslibs.timedeltas.Timedelta

In [25]:
pd.Timedelta(weeks=8,minutes=45,days=23,hours=6)

Timedelta('79 days 06:45:00')

In [26]:
pd.Timedelta("2 days 6hours 23 minutes 43 seconds")

Timedelta('2 days 06:23:43')

In [29]:
ecom=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
ecom

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
8   1993-06-10    1993-11-11
9   1990-01-25    1994-10-02
10  1992-02-23    1998-12-30
11  1996-07-12    1997-07-14
18  1995-06-18    1997-10-13
19  1998-05-10    1998-05-19
20  1992-10-17    1998-10-06
23  1992-05-30    1999-08-15
26  1996-04-11    1998-05-04
30  1998-10-22    1999-01-11
32  1990-01-20    1998-07-24
33  1994-09-21    1996-10-12
35  1993-09-10    1996-04-28
36  1990-05-15    1994-02-14
39  1990-03-26    1993-01-25
41  1992-02-06    1996-05-10
46  1995-09-05    1996-07-19
50  1991-05-03    1999-07-17
52  1994-09-02    1997-05-14
53  1995-11-29    1998-06-23
54  1996-08-07    1998-04-04
58  1995-02-11    1995-04-16
59  1995-09-29    1995-12-16
60  1993-02-14    1995-08-06
63  1990-12-22    1995-09-02
..         ...           ...
932 1997-07-25    1998-04-09
934 1995-05-22    1995-07-11
935 1990-09-26    1998-03-07
938 1993-03-24    1995-07-15
939 1998-10-01    1998-12-07
942 1992-04-14    1997-03-03
943 1991-01-30    1999-12-02
945 1992-10-27    1994-11-03
946 1991-07-02    1996-02-23
947 1991-06-18    1999-06-11
949 1991-10-07    1992-01-07
951 1991-10-02    1994-04-18
953 1991-09-26    1994-05-08
954 1993-08-08    1994-01-23
956 1995-08-23    1999-01-10
957 1994-10-01    1999-07-25
958 1990-04-26    1997-06-29
969 1996-09-24    1996-11-16
972 1990-02-07    1995-11-05
975 1997-06-18    1997-11-02
981 1997-01-31    1998-03-04
983 1994-12-30    1997-07-29
984 1991-07-25    1999-02-09
985 1995-07-26    1996-06-18
986 1990-12-10    1992-12-16
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [32]:
ecom["delivery_date"]-ecom["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
8      154 days
9     1711 days
10    2502 days
11     367 days
18     848 days
19       9 days
20    2180 days
23    2633 days
26     753 days
30      81 days
32    3107 days
33     752 days
35     961 days
36    1371 days
39    1036 days
41    1555 days
46     318 days
50    2997 days
52     985 days
53     937 days
54     605 days
58      64 days
59      78 days
60     903 days
63    1715 days
         ...
932    258 days
934     50 days
935   2719 days
938    843 days
939     67 days
942   1784 days
943   3228 days
945    737 days
946   1697 days
947   2915 days
949     92 days
951    929 days
953    955 days
954    168 days
956   1236 days
957   1758 days
958   2621 days
969     53 days
972   2097 days
975    137 days
981    397 days
983    942 days
984   2756 days
985    328 days
986    737 days
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [33]:
ecom["deliver_time"]=ecom["delivery_date"]-ecom["order_date"]

In [34]:
ecom.head()

   order_date delivery_date deliver_time
ID
1  1998-05-24    1999-02-05     257 days
2  1992-04-22    1998-03-06    2144 days
4  1991-02-10    1992-08-26     563 days
5  1992-07-21    1997-11-20    1948 days
7  1993-09-02    1998-06-10    1742 days

In [35]:
ecom["deliver_time"].ipynb_checkpoints/max()

Timedelta('3583 days 00:00:00')